@charset "utf-8";
@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plaster&display=swap");

/* 드래그 했을때 */
::selection {
  background-color: #00c79c;
  color: #2600ff;
}
/* 스크롤 모양 */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  background-image: linear-gradient(-225deg, #00c79c 0%, #000 100%);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #00c79c;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 21px;
  font-weight: 300;
  color: #fff;
  background-color: #000;
}
#container {
  width: 100%;
  height: auto;
}
header {
  box-sizing: border-box;
  width: 100%;
  height: 90px;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
h1 {
  font-family: "Plaster", system-ui;
  font-weight: 400;
  font-size: 25px;
  line-height: 90px;
}
header nav {
  width: fit-content;
  height: fit-content;
}
nav > ul {
  width: 100%;
  height: 100%;
}
/* 1차메뉴 */
nav > ul > li {
  line-height: 90px;
  text-align: right;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}
nav > ul > li > a {
  opacity: 0.7;
  transition: opacity 0.3s;
}
nav > ul > li::after {
  content: "line";
  font-size: 0;
  display: block;
  width: 40px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 65px;
  right: 3px;
  opacity: 0.7;
  transition: opacity 0.3s;
}
nav > ul > li:hover a {
  opacity: 1;
}
nav > ul > li:hover::after {
  opacity: 1;
}
.submenu {
  position: absolute;
  right: 0;
  width: 200px;
  height: 0;
  overflow: hidden;
  line-height: 50px;
  font-weight: 300;
  text-transform: capitalize;
  transition: 0.3s;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
}
nav > ul > li:hover > .submenu {
  height: 160px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.submenu > li > a {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}
.submenu > li:hover > a {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
}
/* 메인 */
main {
  width: 100%;
  height: auto;
}
/* 섹션 공통속성 */
section {
  position: relative;
  height: auto;
  width: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;
}
.visual {
  height: 55vw;
  background-color: #00c79c;
  overflow: hidden;
}
.visual_title {
  font-family: "Alumni Sans", sans-serif;
  font-size: 12vw;
  font-style: italic;
  font-weight: 700;
  width: 80vw;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 55;
}
.visual_title h2 {
  position: absolute;
  line-height: 1;
  text-shadow: 4px 8px 2px rgba(0, 0, 0, 0.5);
}
.visual_title .v_title1 {
  top: 40%;
  left: 0;
  margin-top: -10vw;
  -webkit-font-smoothing: subpixel-antialiased;
}
.visual_title .v_title2 {
  top: 50%;
  right: 0px;
  margin-top: -10vw;
  height: 15vw;
  -webkit-font-smoothing: subpixel-antialiased;
}
.visual_title .v_title3 {
  bottom: 13vw;
  width: 100%;
  text-align: center;
  margin-top: -10vw;
  -webkit-font-smoothing: subpixel-antialiased;
}
.back_shape {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  left: 0;
  top: -55vw;
  overflow: hidden;
  /* user-select: none; */
}
.back_shape > div:not(.shape_1, .shape_18) {
  position: absolute;
  width: 23.5vw;
  height: fit-content;
  /* will-change 애니메이션을 최적화 할 때 사용하는 속성이다.
  애니메이션을 적용할때 같이 변할 것을 해석기에 입력하는 것. */
  will-change: transform, opacity;
}
.back_shape > div > img {
  width: 100%;
  max-width: 100%;
}
.shape_1 {
  position: absolute;
  width: 70vw;
  top: -17vw;
  left: 23vw;
  /* fillmode의 forwards는 애니메이션이 끝나고 끝난 후의 모습을 계속 유지하겠다는 의미이다. */
  /* alternate 진행 방향을 의미한다. 정방향 */
  animation: rotateShape 1s ease 0s 1 forwards,
    fluffy 0.8s linear 2s infinite alternate;
}
@keyframes rotateShape {
  from {
    transform: scale(0, 0) rotate(0deg);
    opacity: 0;
  }
  to {
    transform: scale(1, 1) rotate(360deg);
    opacity: 1;
  }
}
.shape_2 {
  top: -7vw;
  right: 5vw;
  opacity: 0;
  /* 모든 애니메이션이 한번에 진행되면 버벅거리기 때문에 지연시간을 넣어준다. */
  animation: movein1 1s ease 0.5s 1 forwards,
    fluffy 0.8s linear 1.5s infinite alternate;
}
@keyframes movein1 {
  from {
    transform: translateY(-100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.shape_3 {
  bottom: -2vw;
  left: 12vw;
  opacity: 0;
  animation: movein2 1s ease 0.7s 1 forwards,
    fluffy 0.8s linear 1.7s infinite alternate;
}
@keyframes movein2 {
  from {
    transform: translateY(100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.shape_4 {
  bottom: 7vw;
  right: -12vw;
  opacity: 0;
  animation: movein3 1s ease 0.9s 1 forwards,
    fluffy 0.8s linear 1.9s infinite alternate;
}
.shape_4 > img {
  transform: rotate(-40deg);
}
@keyframes movein3 {
  from {
    transform: translate(50vw, 50vh);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}
.shape_5 {
  top: -12vw;
  left: 14vw;
  opacity: 0;
  animation: movein4 1s ease 1.1s 1 forwards,
    fluffy 0.8s linear 2.1s infinite alternate;
}
.shape_6 {
  top: 0;
  left: 0;
  opacity: 0;
  animation: movein4 1s ease 1.3s 1 forwards,
    fluffy 0.8s linear 2.3s infinite alternate;
}
@keyframes movein4 {
  from {
    transform: translateY(-100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.shape_7 {
  top: 16vw;
  left: 14vw;
  opacity: 0;
  animation: movein5 1s ease 1.5s 1 forwards,
    fluffy 0.8s linear 2.5s infinite alternate;
}
@keyframes movein5 {
  from {
    transform: translateX(-100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.shape_8 {
  top: 5vw;
  right: -8vw;
  opacity: 0;
  animation: movein6 1s ease 1.7s 1 forwards,
    fluffy 0.8s linear 2.7s infinite alternate;
}
@keyframes movein6 {
  from {
    transform: translateX(100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.shape_9 {
  bottom: -6vw;
  left: -5vw;
  opacity: 0;
  animation: movein7 1s ease 1.9s 1 forwards,
    fluffy 0.8s linear 2.9s infinite alternate;
}
@keyframes movein7 {
  from {
    transform: translate(-50vw, 100vw);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}
.shape_10 {
  bottom: -8vw;
  right: -2vw;
  opacity: 0;
  animation: movein8 1s ease 2.1s 1 forwards,
    fluffy 0.8s linear 3.1s infinite alternate;
}
.shape_11 {
  bottom: -10vw;
  right: 20vw;
  opacity: 0;
  animation: movein8 1s ease 2.3s 1 forwards,
    fluffy 0.8s linear 3.3s infinite alternate;
}
.shape_11 > img {
  transform: rotate(159deg);
}
@keyframes movein8 {
  from {
    transform: translateY(50vw);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}
.shape_12 {
  top: 20vw;
  left: -6vw;
  opacity: 0;
  animation: movein9 1s ease 2.5s 1 forwards,
    fluffy 0.8s linear 3.5s infinite alternate;
}
@keyframes movein9 {
  from {
    transform: translateX(-50vw);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes fluffy {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}
.back_shape > div.shape_13,
.back_shape > div.shape_14,
.back_shape > div.shape_15,
.back_shape > div.shape_16,
.back_shape > div.shape_17 {
  width: 3vw;
}
.shape_13 {
  top: 10vw;
  right: 29vw;
  opacity: 0;
  animation: twink 3s linear 0s infinite forwards;
}
.shape_14 {
  top: 2vw;
  left: 45vw;
  opacity: 0;
  animation: twink 3s linear 0.3s infinite forwards;
}
.shape_15 {
  top: 17px;
  left: 17px;
}
.shape_16 {
  bottom: 18vw;
  left: 14vw;
  opacity: 0;
  animation: twink 3s linear 0.9s infinite forwards;
}
.shape_17 {
  bottom: 8vw;
  right: 38vw;
  opacity: 0;
  animation: twink 3s linear 0.6s infinite forwards;
}
@keyframes twink {
  from {
    transform: scale(0, 0) rotate(0deg);
    opacity: 0;
  }
  5% {
    transform: scale(0, 0) rotate(0deg);
    opacity: 0;
  }
  20% {
    transform: scale(1, 1) rotate(180deg);
    opacity: 1;
  }
  50% {
    transform: scale(0, 0) rotate(360deg);
    opacity: 1;
  }
  to {
    transform: scale(0, 0) rotate(0deg);
    opacity: 1;
  }
}
/* .shape_18 {
  position: absolute;
  height: fit-content;
  left: 50%;
  margin-left: -200px;
  top: 50%;
  margin-top: -30vh;
  opacity: 0;
  animation: leaf 0.5s linear 2.8s 1 forwards;
  overflow: hidden;
} 
.shape_18 {
  position: absolute;
  height: fit-content;
  left: 42vw;
  top: 9vw;
  opacity: 0;
  animation: leaf 0.5s linear 2.8s 1 forwards;
  overflow: hidden;
  width: 23.5vw;
}
.shape_18 > img {
  height: 100%;
}
@keyframes leaf {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 537px;
    opacity: 1;
  }
}*/
.shape_18 {
  display: none;
}
/* 컨텐츠 영역*/
.container {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
/* 블러배너 */
.blur_banner {
  width: 1600px;
  height: fit-content;
  position: relative;
  margin: 0 auto;
  top: -100px;
  padding: 90px 135px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  -moz-backdrop-filter: blur(30px);
  -o-backdrop-filter: blur(30px);
  -ms-backdrop-filter: blur(30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.5s;
}
.blur_banner > h2 {
  font-size: 70px;
  font-weight: 700;
  flex: 1 1 0;
  margin-bottom: 0;
}
.blur_banner > h2::before {
  content: "line";
  font-size: 0;
  width: 5vw;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 5vh;
}
.blur_banner > p {
  font-size: 25px;
  flex: 1 1 0;
  line-height: 1.7;
  font-weight: 200;
}
.blur_banner:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.05);
}
/* 1600px 컨텐츠 섹션 공통영역 */
.con {
  width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}
.floating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.floating > .floating_text {
  flex: 1 1 70%;
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 30px;
}
.floating > .floating_text > h2 {
  width: 325px;
  height: 50px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.floating > .floating_text h2 span {
  display: block;
  width: fit-content;
}
.floating > .floating_text h2:hover span {
  display: block;
  animation: textUp 0.8s ease 0s 1 alternate forwards;
}
@keyframes textUp {
  from {
    transform: translate(0, 50px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.floating > .rotate_shape {
  flex: 1 1 0;
  animation: round 7s linear 0s infinite normal;
  width: auto;
}
.rotate_shape > img {
  width: 100%;
}
@keyframes round {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 세번째 섹션 */
.motion_con {
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.motion_con > .box {
  height: 857px;
  flex: 1 1 0;
  text-align: right;
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
  padding: 70px 60px;
  transition: 0.5s;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
}
.motion_con > .box > .img_box {
  width: 100%;
  height: 400px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}
.motion_con .box:hover {
  flex: 2 1 0;
}
.motion_con .box:not(:hover) {
  flex: 1 1 0;
}
.img_box > img {
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
}
.motion_con .box:hover .img_box > img {
  width: 451px;
}
.motion_con .box > .text_box {
  width: 100%;
  height: fit-content;
  font-size: 1em;
}
.motion_con .box > .text_box > h3 {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 10px;
  font-weight: 700;
}
.motion_con .box > .text_box > p {
  box-sizing: content-box;
  padding-left: 0;
  width: 95%;
  float: right;
}
.motion_con > .box > .text_box a {
  color: #fff;
  position: absolute;
  bottom: 70px;
  right: 60px;
  display: block;
  background-color: #000;
  box-sizing: border-box;
  font-size: 18px;
  padding: 16px 19px;
  line-height: 1;
  border-radius: 50px;
  transition: 0.3s;
  font-weight: 800;
}
.motion_con .box .on {
  display: none;
}
.motion_con .box:hover .text_box a {
  padding: 16px 30px;
}
.motion_con .box .text_box a:hover {
  background-color: #00c79c;
  color: #000;
}
.motion_con .box:hover .on {
  display: block;
}
.motion_con .box:hover .off {
  display: none;
}

/* 네번째 섹션 */
/* 스티키 속성을 쓸때는 넓이,높이가 잘 정해져 있어야한다. 
이곳에서는 con에 1600px이 정해져있다. */
.sticky_sec {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}
.sticky_sec .text_box {
  height: fit-content;
  flex: 1 1 0;
  margin: 100px 0;
  position: sticky;
  top: 200px;
}
.sticky_sec .text_box h2 {
  font-size: 70px;
  margin-bottom: 20px;
  font-weight: 700;
}
.sticky_sec .text_box h2 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
  opacity: 0.8;
}
.sticky_sec .text_box p {
  font-weight: 200;
  line-height: 1.6;
  margin-bottom: 20px;
}
.sticky_sec .videos {
  flex: 1 1 0;
}
.sticky_sec .videos > div {
  width: 850px;
  height: 350px;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 20px;
}
.sticky_sec .videos > div > video {
  max-width: 110%;
  transform: scale(1) translateY(-20%);
  transition: 0.5s;
  filter: brightness(0.9);
}
.sticky_sec .videos > div:hover > video {
  transform: scale(1.1) translateY(-20%);
  filter: brightness(1.1);
}
/* 다섯번째 섹션 */
.white_bg {
  background-color: #fff;
  color: #000;
  padding: 10.5vw 0;
}
.white_bg .con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 145px;
}
.white_bg .left_img {
  flex: 1 1 0;
  width: 767px;
  height: 747px;
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 31%,
    rgb(221, 221, 221) 100%
  );
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.white_bg .left_img img {
  width: 23.5vw;
  height: 23.5vw;
  margin: 0 auto;
  animation: sliding 3s linear infinite;
}
@keyframes sliding {
  from {
    transform: translateY(-100%) rotate(0deg);
  }
  to {
    transform: translateY(0) rotate(360deg);
  }
}
.white_bg .right_box {
  flex: 1 1 0;
}
.right_box h2 {
  font-size: 58px;
  font-weight: 600;
  margin-bottom: 30px;
}
.right_box p {
  font-size: 24px;
  line-height: 38px;
  font-weight: 200;
  padding-bottom: 50px;
  margin-bottom: 80px;
  border-bottom: 1px solid #e5e5e5;
}
.right_box .thumbs {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.right_box .thumbs h4 {
  color: #000;
  font-size: 20px;
  font-weight: 300;
  text-transform: capitalize;
  transition: 0.3s;
}
.right_box .thumbs a {
  display: block;
  flex: 1 1 0;
  text-align: center;
  align-self: flex-end;
}
.thumbs a > div > div {
  background-color: black;
  height: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  transition: 0.5s;
}
.thumbs a > div > div > img {
  max-width: 100%;
}
.thumbs a > div:hover h4 {
  font-weight: 500;
}

.thumbs a .shape:hover div {
  background: linear-gradient(#ff86c3 0%, #ff0080 100%);
}
.thumbs a .shape:hover div > img {
  filter: drop-shadow(2px 3px 4px rgb(17, 17, 17, 0.7));
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.thumbs a .assets:hover div {
  background: linear-gradient(#0b0ff8 0%, #84a5ff 100%);
}
.thumbs a .assets:hover div > img {
  filter: brightness(1.5);
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.thumbs a .elegant:hover div {
  background: linear-gradient(#ffa053 0%, #ff3300 100%);
}
.thumbs a .elegant div > img {
  transform: translateX(-5%);
}
.thumbs a .elegant:hover div > img {
  transform: scale(1.1) translateX(-5%);
  transition: 0.3s ease-in-out;
}
/* 여섯번째 섹션 */
.members {
  overflow: hidden;
  padding: 150px 0;
  border-bottom: 1px solid #111;
}
.members h2 {
  font-size: 2.6vw;
  text-align: center;
  font-weight: 200;
  margin-bottom: 90px;
}
/* 슬라이드 전체 */
.member_silde {
  width: 100%;
  position: relative;
  height: 164px;
}
/* 슬라이드에서 썸네일 1세트 */
.member_list {
  position: absolute;
  top: 0;
  display: flex;
  animation: member_slide1 12s linear infinite;
  /* 자식요소들이 가로로 정렬되도록 설정하기 */
  width: max-content;
}
@keyframes member_slide1 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.member_list > .list {
  width: 500px;
  height: 164px;
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  color: #000;
  padding: 20px 24px;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 30px;
  /* 요소들이 동일한 크기를 유지하도록 설정 */
  flex-shrink: 0;
}
.member_silde:hover .member_list {
  animation-play-state: paused;
}
.list > .thumbs {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  overflow: hidden;
}
.list > .member_title {
  flex: 1 1 0;
}
.list > .member_title > h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}
.list > .member_title > p {
  font-size: 18px;
  font-weight: 300;
  color: #333;
}
.member_list.list2 {
  animation: member_slide2 12s linear infinite;
}
@keyframes member_slide2 {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  to {
    transform: translateX(0%);
  }
}
.more {
  outline: none;
  width: 15vw;
  height: 5vw;
  margin: 0 auto;
  border-radius: 30px;
  display: block;
  margin-top: 100px;
  font-family: "inter", sans-serif;
  background-color: transparent;
  font-size: 16px;
  border: 1px solid #e5e5e5;
  color: #e5e5e5;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
}
.more:hover {
  background-color: #00c79c;
  color: #000;
  border: 1px solid #00c79c;
  font-weight: 800;
  font-size: 18px;
}
/* footer 푸터 */
footer {
  box-sizing: border-box;
  width: 100%;
  padding: 17px 0;
}
footer .con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer h2 {
  font-family: "Plaster", system-ui;
  font-weight: 400;
  font-size: 25px;
}
footer h2 > a {
  color: #555;
  transition: 0.5s;
}
footer h2:hover a {
  color: #fff;
}
footer p {
  font-weight: 500;
  font-size: 14px;
  color: #aaa;
}
footer .sns_icons {
  display: flex;
  gap: 10px;
  align-items: center;
}
footer .sns_icons a {
  display: block;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 20px;
}
footer .sns_icons a:hover {
  background-color: #00c79c;
  transition: 0.5s;
}
footer .sns_icons a:hover img {
  filter: brightness(0);
}
